*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body{
  background-color: rgb(1, 5, 21);
}

.container{
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;

}


@media (max-width: 320px){
  .container{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
}
  

@media (max-width: 375px){
  .container{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
}

@media (max-width: 425px){
  .container{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
}
  
